/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@font-face {
  font-family: 'Pica';
  src: url(../../static/fonts/IMFellDoublePica-Regular.ttf)
}

@font-face {
  font-family: 'Bungee';
  src: url(../../static/fonts/BungeeShade-Regular.ttf)
}


@font-face {
  font-family: 'Pica-italic';
  src: url(../../static/fonts/IMFellDoublePica-Italic.ttf)
}

@font-face {
  font-family: 'Coolvetica';
  src: url(../../static/fonts/CoolveticaRg-Regular.woff)
}


@font-face {
  font-family: 'Raleway';
  src: url(../../static/fonts/Raleway-VariableFont_wght.ttf)
}

.navbar {
  height: 100px;
  font-family: 'Bungee';
  font-size: 22px;
}

.navbar__logo {
flex: 0 0 auto;
flex-grow: 0;
flex-shrink: 0;
flex-basis: auto;
height: 3;
margin-right: 0.5rem;
}

.theme-doc-sidebar-menu {
  height: 100px;
  font-family: 'Raleway';
  font-size: 15px;
}


/* .title h1 {
    background: linear-gradient(90deg,#833ab4,#fd1d1d 50%,#fcb045);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: #0000
} */


h1, h2, h3 {
  font-family: 'Raleway';
}

body {
  font-family: 'Raleway';
}



:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.markdown img {
  margin: auto;
  display: block;
  width: 700px;
}

img[alt=Training-pack] { width: 400px; }

img[alt=commons] { width: 400px; }

img[alt=arrow] { width: 100px; }

img[alt='photo of Anita Diamond'] { 
  width: 300px; 
  border-radius: 50%;
}